In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

## Chargement des données

In [3]:
print("loading data...")

train_transaction = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/train_transaction.csv', index_col='TransactionID')
test_transaction = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/test_transaction.csv', index_col='TransactionID')

train_identity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/train_identity.csv', index_col='TransactionID')
test_identity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/test_identity.csv', index_col='TransactionID')

print("loading successful!")

loading data...
loading successful!

## Isolation de Y

In [4]:
print("Number of missing values in target : ", train_transaction.isFraud.isnull().sum(), "\n")  # 0 missing values in target
print("percent of fraudulent train-transactions: ", len(train_transaction.loc[train_transaction.isFraud == 1])*100/len(train_transaction))

Number of missing values in target :  0

percent of fraudulent train-transactions:  3.499000914417313

In [5]:
print("Shape train_transaction avant drop : ", train_transaction.shape, "\n")
y_train = train_transaction["isFraud"]
train_transaction = train_transaction.drop(columns = ['isFraud'])

print("Shape y_train : ", y_train.shape, "\n")
print("Shape train_transaction avant drop : ", train_transaction.shape, "\n")

Shape train_transaction avant drop :  (590540, 393)

Shape y_train :  (590540,)

Shape train_transaction avant drop :  (590540, 392)

## On renomme les données car les colonnes de train et test ne sont pas les mêmes, les colonnes de test ont des tirets au lieu d'underscore.

In [6]:
# On rename les colonnes de test_identity selon train_identity
test_identity.columns = ['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24',
       'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo']


print("before concatting: \n\n")
print("train_transaction.shape: ", train_transaction.shape, "\n")
print("test_transaction.shape: ", test_transaction.shape, "\n")
print("train_transaction.index: ", train_transaction.index, "\n")
print("test_transaction.index: ", test_transaction.index, "\n")

print("train_identity.shape: ", train_identity.shape, "\n")
print("test_identity.shape: ", test_identity.shape, "\n")
print("train_identity.index: ", train_identity.index, "\n")
print("test_identity.index: ", test_identity.index, "\n")


transaction_data = pd.concat([train_transaction, test_transaction])
identity_data = pd.concat([train_identity, test_identity])


print("after concatting: \n\n")
print("transaction_data.shape: ", transaction_data.shape, "\n")
print("transaction_data.index: ", transaction_data.index, "\n")
print("identity_data.shape: ", identity_data.shape, "\n")
print("identity_data.index: ", identity_data.index, "\n")

before concatting:


train_transaction.shape:  (590540, 392)

test_transaction.shape:  (506691, 392)

train_transaction.index:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            3577530, 3577531, 3577532, 3577533, 3577534, 3577535, 3577536,
            3577537, 3577538, 3577539],
           dtype='int64', name='TransactionID', length=590540)

test_transaction.index:  Int64Index([3663549, 3663550, 3663551, 3663552, 3663553, 3663554, 3663555,
            3663556, 3663557, 3663558,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=506691)

train_identity.shape:  (144233, 40)

test_identity.shape:  (141907, 40)

train_identity.index:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            3577495, 3577499, 3577501, 3577506, 3577509, 3577521, 3577526,
            3577529, 3577531, 3577534],
           dtype='int64', name='TransactionID', length=144233)

test_identity.index:  Int64Index([3663586, 3663588, 3663597, 3663601, 3663602, 3663622, 3663624,
            3663626, 3663629, 3663658,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=141907)

after concatting:


transaction_data.shape:  (1097231, 392)

transaction_data.index:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=1097231)

identity_data.shape:  (286140, 40)

identity_data.index:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=286140)

## CLASSEMENT DES NAN

on classe les colonnes en fonction de leur quantité de NAN et de leur type numérique ou categorique

### *Identity*

In [7]:
c = (identity_data.dtypes == 'object') #categorique
n = (identity_data.dtypes != 'object') #numerique

#on récupère le nom des colonnes spécifique à chaque type
cat_id_cols = list(c[c].index)
num_id_cols = list(n[n].index) 

print(cat_id_cols, "\n")
print("number categorical identity features: ", len(cat_id_cols), "\n\n")
print(num_id_cols, "\n")
print("number numerical identity features: ", len(num_id_cols))

['id_12', 'id_15', 'id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

number categorical identity features:  17


['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_13', 'id_14', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_24', 'id_25', 'id_26', 'id_32']

number numerical identity features:  23

### *Transaction*

In [8]:
c = (transaction_data.dtypes == 'object') #categorique
n = (transaction_data.dtypes != 'object') #numerique

#on récupère le nom des colonnes de chaque type
cat_trans_cols = list(c[c].index)
num_trans_cols = list(n[n].index) 

print(cat_trans_cols, "\n")
print("number categorical transaction features: ", len(cat_trans_cols), "\n\n")
print(num_trans_cols, "\n")
print("number numerical transaction features: ", len(num_trans_cols))

['ProductCD', 'card4', 'card6', 'P_emaildomain', 'R_emaildomain', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9']

number categorical transaction features:  14


['TransactionDT', 'TransactionAmt', 'card1', 'card2', 'card3', 'card5', 'addr1', 'addr2', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

number numerical transaction features:  378

In [9]:
# on garde la forme en mémoire des tableaux pour pouvoir les reconstruire après
shape_of_train_trans = train_transaction.shape
shape_of_train_id    = train_identity.shape

shape_of_test_trans  = test_transaction.shape
shape_of_test_id     = test_identity.shape

#on supprime les tableaux car on en a plus besoin
del train_transaction
del train_identity
del test_transaction
del test_identity

print("deletion successful!")

deletion successful!

### *Identity categorielle*

In [10]:
#on affiche le nombre de données manquantes pour les variales categorielles
for i in cat_id_cols:
    print(identity_data[i].value_counts())
    print(i, "missing values: ", identity_data[i].isnull().sum())
    print(identity_data[i].isnull().sum()*100/ len(identity_data[i]), "\n")

NotFound    243920
Found        42220
Name: id_12, dtype: int64
id_12 missing values:  0
0.0

Found      135690
New        119397
Unknown     22875
Name: id_15, dtype: int64
id_15 missing values:  8178
2.8580415181379744

Found       132805
NotFound    122282
Name: id_16, dtype: int64
id_16 missing values:  31053
10.852379953868736

IP_PROXY:TRANSPARENT    7203
IP_PROXY:ANONYMOUS      2010
IP_PROXY:HIDDEN         1018
Name: id_23, dtype: int64
id_23 missing values:  275909
96.42447752848256

Found       10214
NotFound       17
Name: id_27, dtype: int64
id_27 missing values:  275909
96.42447752848256

Found    151813
New      125943
Name: id_28, dtype: int64
id_28 missing values:  8384
2.930034248969036

Found       149264
NotFound    128492
Name: id_29, dtype: int64
id_29 missing values:  8384
2.930034248969036

Windows 10          42170
Windows 7           23478
iOS 12.1.0           6349
Mac OS X 10_12_6     3884
iOS 11.2.1           3824
                    ...
Mac OS X 10_12_2       51
Mac OS X 10_6_8        50
func                   21
other                  19
Windows                 6
Name: id_30, Length: 87, dtype: int64
id_30 missing values:  137916
48.19878381211994

mobile safari 11.0     23655
chrome 63.0            22168
chrome 70.0            16054
ie 11.0 for desktop    14203
mobile safari 12.0     13098
                       ...
BLU/Dash                   1
Cherry                     1
Inco/Minion                1
chromium                   1
LG/K-200                   1
Name: id_31, Length: 172, dtype: int64
id_31 missing values:  9233
3.2267421541902563

1920x1080    33742
1366x768     15046
1334x750     11550
2208x1242     9113
1440x900      8127
             ...
2559x1080        1
1264x924         1
8640x1620        1
2999x1998        1
2768x1440        1
Name: id_33, Length: 461, dtype: int64
id_33 missing values:  142180
49.688963444467745

match_status:2     132185
match_status:1      17377
match_status:0        415
match_status:-1         3
Name: id_34, dtype: int64
id_34 missing values:  136160
47.58509820367652

T    149464
F    128498
Name: id_35, dtype: int64
id_35 missing values:  8178
2.8580415181379744

F    267353
T     10609
Name: id_36, dtype: int64
id_36 missing values:  8178
2.8580415181379744

T    215149
F     62813
Name: id_37, dtype: int64
id_37 missing values:  8178
2.8580415181379744

F    168980
T    108982
Name: id_38, dtype: int64
id_38 missing values:  8178
2.8580415181379744

desktop    159568
mobile     118173
Name: DeviceType, dtype: int64
DeviceType missing values:  8399
2.9352764381072203

Windows             92710
iOS Device          38502
MacOS               23722
Trident/7.0         12330
rv:11.0              2650
                    ...
LG-H933                 1
SAMSUNG-SM-T377A        1
HT0703K16               1
SM-G900L                1
LG-D959                 1
Name: DeviceInfo, Length: 2799, dtype: int64
DeviceInfo missing values:  52417
18.318655203746417

In [11]:
#on sépare les variables en 3 categories : celles ou il manque beaucoup de données, un peu et pas beaucoup
low_missing_cat_id_cols = []      # lower than 15% missing values
medium_missing_cat_id_cols = []   # between 15% and 60% missing
many_missing_cat_id_cols = []     # more than 60% missing

#on tri les données en fonction du nombres de données manquantes
for i in cat_id_cols:
    percentage = identity_data[i].isnull().sum() * 100 / len(identity_data[i])
    if percentage < 15:
        low_missing_cat_id_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_cat_id_cols.append(i)
    else:
        many_missing_cat_id_cols.append(i)
        
print("cat_id_cols: \n\n")      
print("number low missing: ", len(low_missing_cat_id_cols), "\n")
print("number medium missing: ", len(medium_missing_cat_id_cols), "\n")
print("number many missing: ", len(many_missing_cat_id_cols), "\n")

cat_id_cols:


number low missing:  11

number medium missing:  4

number many missing:  2

### Identity *numérique*

In [12]:
#on affiche le nombre de données manquantes pour les variales numériques
for i in num_id_cols:
    print(identity_data[i].value_counts())
    print(i, "missing values: ", identity_data[i].isnull().sum()) 
    print(identity_data[i].isnull().sum()*100/len(identity_data[i]), "\n") # missing percent

-5.0     164749
 0.0      31555
-10.0     23050
-20.0     22341
-15.0     12722
          ...
-49.0         1
-89.0         1
-91.0         1
-24.0         1
-78.0         1
Name: id_01, Length: 89, dtype: int64
id_01 missing values:  0
0.0

696.0       16
1083.0      15
552.0       15
1120.0      12
1141.0      12
            ..
204779.0     1
10957.0      1
204778.0     1
204777.0     1
38982.0      1
Name: id_02, Length: 198051, dtype: int64
id_02 missing values:  8292
2.8978821555881735

 0.0     127811
 1.0       1645
 3.0       1442
 2.0        806
 5.0        264
 4.0        184
 6.0        134
-5.0         88
-6.0         84
-2.0         58
-4.0         56
-7.0         54
-8.0         41
-9.0         27
-10.0        26
-11.0        20
-12.0        19
-1.0         18
-3.0         12
 7.0          6
 9.0          4
-13.0         3
 10.0         1
 11.0         1
 8.0          1
Name: id_03, dtype: int64
id_03 missing values:  153335
53.58740476689732

 0.0     131390
-5.0        317
-6.0        297
-9.0        133
-12.0       111
-8.0        100
-4.0         88
-11.0        75
-1.0         68
-7.0         67
-10.0        63
-13.0        36
-2.0         31
-3.0         26
-28.0         2
-19.0         1
Name: id_04, dtype: int64
id_04 missing values:  153335
53.58740476689732

 0.0     182759
 1.0      16161
 2.0       9648
 3.0       7495
 4.0       5724
          ...
-35.0         2
-36.0         1
-39.0         1
-46.0         1
-81.0         1
Name: id_05, Length: 97, dtype: int64
id_05 missing values:  14525
5.076186482141609

 0.0     175593
-1.0      11894
-5.0       7623
-6.0       6710
-9.0       5226
          ...
-80.0         7
-95.0         7
-87.0         6
-99.0         5
-89.0         5
Name: id_06, Length: 101, dtype: int64
id_06 missing values:  14525
5.076186482141609

 0.0     936
 12.0    399
 14.0    384
 16.0    376
 13.0    364
        ...
-25.0      1
 59.0      1
 61.0      1
-37.0      1
 56.0      1
Name: id_07, Length: 92, dtype: int64
id_07 missing values:  275926
96.43041867617251

-100.0    943
 0.0      603
-34.0     558
-33.0     455
-35.0     401
         ...
-97.0       2
-94.0       1
-93.0       1
-90.0       1
-83.0       1
Name: id_08, Length: 97, dtype: int64
id_08 missing values:  275926
96.43041867617251

 0.0     140392
 1.0       2997
 3.0       1974
 2.0       1504
 4.0        450
 5.0        450
 6.0        285
-5.0        148
-6.0        146
-4.0        138
-8.0         87
-7.0         84
-2.0         67
-1.0         61
-9.0         61
-3.0         56
 7.0         56
-10.0        56
 8.0         43
-11.0        34
 9.0         28
-12.0        20
 10.0        20
 11.0        15
 12.0        10
-32.0         9
 13.0         9
-13.0         6
-28.0         6
 15.0         4
-31.0         4
-22.0         4
-17.0         4
-26.0         4
 16.0         4
-23.0         4
-21.0         3
-27.0         3
-15.0         2
-19.0         2
-20.0         2
 14.0         2
-18.0         2
-36.0         1
-14.0         1
-30.0         1
-16.0         1
-24.0         1
 25.0         1
 17.0         1
-29.0         1
Name: id_09, dtype: int64
id_09 missing values:  136876
47.83532536520584

 0.0     145156
-6.0        601
-5.0        503
-1.0        463
-9.0        307
          ...
-57.0         1
-53.0         1
-42.0         1
-51.0         1
-63.0         1
Name: id_10, Length: 67, dtype: int64
id_10 missing values:  136876
47.83532536520584

100.000000    262486
95.080002       2286
95.160004       1290
97.120003        916
96.669998        687
               ...
93.690002          1
93.199997          1
93.430000          1
93.389999          1
94.980003          1
Name: id_11, Length: 412, dtype: int64
id_11 missing values:  8384
2.930034248969036

52.0    109760
27.0     73282
49.0     26365
64.0     14429
33.0     10048
14.0      6427
20.0      3804
63.0      2050
62.0      1752
25.0      1302
18.0      1218
19.0      1147
41.0      1086
43.0       907
11.0       890
55.0       781
24.0       531
15.0       520
51.0       349
35.0       317
61.0       108
44.0        87
28.0        77
54.0        67
39.0        45
31.0        38
45.0        26
36.0        25
38.0        22
13.0        21
56.0        19
58.0        17
48.0        12
32.0        10
30.0         9
42.0         9
21.0         8
22.0         5
53.0         4
46.0         3
17.0         3
57.0         3
16.0         3
60.0         3
47.0         3
37.0         3
26.0         2
12.0         2
23.0         1
10.0         1
29.0         1
40.0         1
34.0         1
59.0         1
50.0         1
Name: id_13, dtype: int64
id_13 missing values:  28534
9.972041657929685

-300.0    83733
-360.0    31196
-480.0    24245
-420.0     8751
-600.0     1010
 60.0       687
 0.0        364
-240.0      297
-180.0      204
-540.0      195
 480.0      138
 540.0      118
 600.0      113
 120.0       98
 180.0       73
 420.0       56
 240.0       24
 330.0       23
 300.0       20
 270.0       20
 720.0       18
-210.0        5
 570.0        4
 360.0        3
-120.0        2
-660.0        2
-720.0        1
 660.0        1
Name: id_14, dtype: int64
id_14 missing values:  134739
47.088488152652545

166.0    150938
225.0    116313
102.0      1443
159.0       690
121.0       646
          ...
160.0         1
104.0         1
220.0         1
219.0         1
224.0         1
Name: id_17, Length: 127, dtype: int64
id_17 missing values:  10805
3.7761235758719507

15.0    53476
13.0    25223
12.0     8765
17.0     4489
18.0     1113
20.0      960
26.0      903
11.0      368
27.0      275
21.0      207
24.0      158
29.0       14
23.0       12
14.0       12
28.0        7
25.0        3
19.0        1
10.0        1
16.0        1
Name: id_18, dtype: int64
id_18 missing values:  190152
66.45418326693228

266.0    39541
410.0    22414
427.0    16646
529.0    15893
100.0     9998
         ...
206.0        1
624.0        1
413.0        1
461.0        1
524.0        1
Name: id_19, Length: 568, dtype: int64
id_19 missing values:  10916
3.814915775494513

507.0    34192
222.0    20843
325.0    15427
533.0    12483
563.0    12280
         ...
329.0        1
584.0        1
163.0        1
281.0        1
363.0        1
Name: id_20, Length: 547, dtype: int64
id_20 missing values:  11246
3.9302439365345636

252.0    3552
711.0    1796
228.0     469
576.0     167
255.0     162
         ...
206.0       1
136.0       1
677.0       1
702.0       1
568.0       1
Name: id_21, Length: 734, dtype: int64
id_21 missing values:  275922
96.42902075906899

14.0    9487
41.0     487
33.0      64
43.0      23
24.0      21
27.0      18
21.0      15
36.0      14
39.0      13
17.0       9
22.0       9
15.0       8
35.0       7
12.0       7
31.0       7
26.0       4
20.0       4
28.0       3
13.0       3
42.0       3
16.0       3
40.0       3
32.0       3
18.0       2
38.0       2
19.0       2
44.0       2
23.0       1
10.0       1
25.0       1
11.0       1
37.0       1
29.0       1
34.0       1
30.0       1
Name: id_22, dtype: int64
id_22 missing values:  275909
96.42447752848256

11.0    5666
15.0    2948
16.0     315
21.0     222
24.0     141
18.0     104
12.0      26
19.0      24
26.0      14
25.0       9
17.0       9
20.0       4
23.0       1
14.0       1
10.0       1
22.0       1
13.0       1
Name: id_24, dtype: int64
id_24 missing values:  276653
96.68449010973649

321.0    5233
205.0     569
426.0     469
442.0     188
501.0     151
         ...
153.0       1
506.0       1
539.0       1
425.0       1
401.0       1
Name: id_25, Length: 440, dtype: int64
id_25 missing values:  275969
96.4454462850353

161.0    1576
184.0    1196
142.0    1126
100.0     891
119.0     669
         ...
214.0       1
104.0       1
172.0       1
173.0       1
127.0       1
Name: id_26, Length: 115, dtype: int64
id_26 missing values:  275930
96.43181659327603

24.0    104040
32.0     44077
16.0       121
8.0         11
0.0          6
48.0         2
Name: id_32, dtype: int64
id_32 missing values:  137883
48.18725099601593

In [13]:
#on sépare les variables en 3 categories : celles ou il manque beaucoup de données, un peu et pas beaucoup
low_missing_num_id_cols = []      # lower than 15% missing values
medium_missing_num_id_cols = []   # between 15% and 60% missing
many_missing_num_id_cols = []     # more than 60% missing

#on tri les données en fonction du nombres de données manquantes
for i in num_id_cols:
    percentage = identity_data[i].isnull().sum() * 100 / len(identity_data[i])
    if percentage < 15:
        low_missing_num_id_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_num_id_cols.append(i)
    else:
        many_missing_num_id_cols.append(i)
        
print("num_id_cols: \n\n")        
print("number low missing: ", len(low_missing_num_id_cols), "\n")
print("number medium missing: ", len(medium_missing_num_id_cols), "\n")
print("number many missing: ", len(many_missing_num_id_cols), "\n")

num_id_cols:


number low missing:  9

number medium missing:  6

number many missing:  8

### *Transactions categorielle*

In [14]:
for i in cat_trans_cols:
    print(transaction_data[i].value_counts())
    print(i, transaction_data[i].isnull().sum(), "missing values")
    print(i, transaction_data[i].isnull().sum()*100/len(transaction_data[i]), "\n")  # missing percent

W    800657
C    137785
R     73346
H     62397
S     23046
Name: ProductCD, dtype: int64
ProductCD 0 missing values
ProductCD 0.0

visa                719649
mastercard          347386
american express     16009
discover              9524
Name: card4, dtype: int64
card4 4663 missing values
card4 0.42497887864998346

debit              824959
credit             267648
debit or credit        30
charge card            16
Name: card6, dtype: int64
card6 4578 missing values
card6 0.41723210518113324

gmail.com           435803
yahoo.com           182784
hotmail.com          85649
anonymous.com        71062
aol.com              52337
comcast.net          14474
icloud.com           12316
outlook.com           9934
att.net               7647
msn.com               7480
sbcglobal.net         5767
live.com              5720
verizon.net           5011
ymail.com             4075
bellsouth.net         3437
yahoo.com.mx          2827
me.com                2713
cox.net               2657
optonline.net         1937
live.com.mx           1470
charter.net           1443
mail.com              1156
rocketmail.com        1105
gmail                  993
earthlink.net          979
outlook.es             863
mac.com                862
hotmail.fr             674
hotmail.es             627
frontier.com           594
roadrunner.com         583
juno.com               574
windstream.net         552
web.de                 518
aim.com                468
embarqmail.com         464
twc.com                439
frontiernet.net        397
netzero.com            387
centurylink.net        386
q.com                  362
yahoo.fr               344
hotmail.co.uk          334
suddenlink.net         323
netzero.net            319
cfl.rr.com             318
cableone.net           311
prodigy.net.mx         303
gmx.de                 298
sc.rr.com              277
yahoo.es               272
protonmail.com         159
ptd.net                140
yahoo.de               137
hotmail.de             130
live.fr                106
yahoo.co.uk            103
yahoo.co.jp            101
servicios-ta.com        80
scranton.edu             2
Name: P_emaildomain, dtype: int64
P_emaildomain 163648 missing values
P_emaildomain 14.914635113298841

gmail.com           118885
hotmail.com          53166
anonymous.com        39644
yahoo.com            21405
aol.com               7239
outlook.com           5011
comcast.net           3513
icloud.com            2820
yahoo.com.mx          2743
msn.com               1698
live.com.mx           1464
live.com              1444
verizon.net           1202
sbcglobal.net         1163
me.com                1095
att.net                870
cox.net                854
outlook.es             853
bellsouth.net          795
hotmail.fr             667
hotmail.es             595
web.de                 514
mac.com                430
ymail.com              405
optonline.net          350
mail.com               341
hotmail.co.uk          317
yahoo.fr               315
prodigy.net.mx         303
gmx.de                 297
charter.net            263
gmail                  196
earthlink.net          170
embarqmail.com         140
yahoo.de               139
hotmail.de             130
rocketmail.com         126
yahoo.es               124
juno.com               111
frontier.com           110
live.fr                105
windstream.net         104
yahoo.co.jp            104
roadrunner.com         101
yahoo.co.uk             82
servicios-ta.com        80
aim.com                 77
protonmail.com          75
ptd.net                 70
scranton.edu            69
twc.com                 61
cfl.rr.com              57
suddenlink.net          55
cableone.net            46
q.com                   45
frontiernet.net         38
centurylink.net         28
netzero.com             24
netzero.net             19
sc.rr.com               14
Name: R_emaildomain, dtype: int64
R_emaildomain 824070 missing values
R_emaildomain 75.10451308794593

T    649436
F        56
Name: M1, dtype: int64
M1 447739 missing values
M1 40.806265954935654

T    588323
F     61169
Name: M2, dtype: int64
M2 447739 missing values
M2 40.806265954935654

T    518244
F    131248
Name: M3, dtype: int64
M3 447739 missing values
M3 40.806265954935654

M0    357789
M2    122947
M1     97306
Name: M4, dtype: int64
M4 519189 missing values
M4 47.31811259433975

F    240155
T    196962
Name: M5, dtype: int64
M5 660114 missing values
M5 60.16180731313643

F    419433
T    349499
Name: M6, dtype: int64
M6 328299 missing values
M6 29.920682153530112

F    444604
T     71344
Name: M7, dtype: int64
M7 581283 missing values
M7 52.97726732110194

F    323650
T    192325
Name: M8, dtype: int64
M8 581256 missing values
M8 52.97480658129418

T    441935
F     74040
Name: M9, dtype: int64
M9 581256 missing values
M9 52.97480658129418

In [15]:
#on sépare les variables en 3 categories : celles ou il manque beaucoup de données, un peu et pas beaucoup
low_missing_cat_trans_cols = []      # lower than 15% missing values
medium_missing_cat_trans_cols = []   # between 15% and 60% missing
many_missing_cat_trans_cols = []     # more than 60% missing

#on tri les données en fonction du nombres de données manquantes
for i in cat_trans_cols:
    percentage = transaction_data[i].isnull().sum() * 100 / len(transaction_data[i])
    if percentage < 15:
        low_missing_cat_trans_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_cat_trans_cols.append(i)
    else:
        many_missing_cat_trans_cols.append(i)
        
print("cat_trans_cols: \n\n")    
print("number low missing: ", len(low_missing_cat_trans_cols), "\n")
print("number medium missing: ", len(medium_missing_cat_trans_cols), "\n")
print("number many missing: ", len(many_missing_cat_trans_cols), "\n")

cat_trans_cols:


number low missing:  4

number medium missing:  8

number many missing:  2

### *Transactions numérique*

In [16]:
for i in num_trans_cols:
    print(transaction_data[i].value_counts())
    print(i, transaction_data[i].isnull().sum(), "missing values")
    print(i, transaction_data[i].isnull().sum()*100/len(transaction_data[i]), "\n")  # missing percent

Le flux de sortie a été tronqué et ne contient que les 5000 dernières lignes.
0.0    798701
1.0    188126
2.0      7275
3.0      1375
4.0       186
7.0       174
5.0       130
6.0        19
Name: V93, dtype: int64
V93 101245 missing values
V93 9.227318586514599

0.0    851784
1.0    144184
2.0        18
Name: V94, dtype: int64
V94 101245 missing values
V94 9.227318586514599

0.0      947053
1.0       98923
2.0       28080
3.0       10744
4.0        4976
          ...
861.0         1
862.0         1
863.0         1
462.0         1
511.0         1
Name: V95, Length: 881, dtype: int64
V95 314 missing values
V95 0.028617492579046708

0.0       675033
1.0       177098
2.0        87428
3.0        48513
4.0        30540
           ...
1371.0         1
1372.0         1
1373.0         1
1374.0         1
1168.0         1
Name: V96, Length: 1410, dtype: int64
V96 314 missing values
V96 0.028617492579046708

0.0      839537
1.0      146804
2.0       50473
3.0       22411
4.0       11832
          ...
293.0         1
967.0         1
966.0         1
965.0         1
288.0         1
Name: V97, Length: 976, dtype: int64
V97 314 missing values
V97 0.028617492579046708

0.0     1040020
1.0       50043
2.0        5458
3.0        1041
4.0         239
5.0          52
6.0          32
7.0          20
8.0           8
12.0          1
11.0          1
10.0          1
9.0           1
Name: V98, dtype: int64
V98 314 missing values
V98 0.028617492579046708

0.0     747883
1.0     159047
2.0      73781
3.0      39262
4.0      25355
         ...
63.0         2
72.0         1
88.0         1
65.0         1
64.0         1
Name: V99, Length: 89, dtype: int64
V99 314 missing values
V99 0.028617492579046708

0.0     922414
1.0     116764
2.0      31133
3.0      12640
4.0       7276
5.0       1996
6.0       1086
7.0        977
10.0       852
9.0        533
8.0        516
11.0       127
12.0        99
13.0        69
18.0        63
19.0        56
14.0        53
20.0        47
17.0        45
16.0        42
21.0        38
15.0        34
22.0        15
23.0        13
28.0         7
27.0         7
24.0         7
25.0         4
26.0         2
29.0         1
30.0         1
Name: V100, dtype: int64
V100 314 missing values
V100 0.028617492579046708

0.0      1037757
1.0        34579
2.0        12326
3.0         5302
4.0         2556
          ...
869.0          1
832.0          1
608.0          1
470.0          1
511.0          1
Name: V101, Length: 870, dtype: int64
V101 314 missing values
V101 0.028617492579046708

0.0       1003636
1.0         42566
2.0         18466
3.0          9400
4.0          5640
           ...
560.0           1
119.0           1
120.0           1
121.0           1
1132.0          1
Name: V102, Length: 1285, dtype: int64
V102 314 missing values
V102 0.028617492579046708

0.0      1023514
1.0        37157
2.0        15057
3.0         7282
4.0         4071
          ...
100.0          1
880.0          1
99.0           1
98.0           1
288.0          1
Name: V103, Length: 928, dtype: int64
V103 314 missing values
V103 0.028617492579046708

0.0     1042269
1.0       40443
2.0        8672
3.0        2451
11.0       1032
4.0         831
5.0         352
15.0        219
6.0         188
7.0         117
8.0          88
12.0         81
9.0          40
10.0         36
14.0         23
13.0         11
16.0          4
18.0          4
17.0          4
19.0          3
20.0          3
21.0          3
23.0          2
22.0          2
24.0          2
25.0          2
33.0          2
41.0          1
46.0          1
45.0          1
44.0          1
43.0          1
42.0          1
35.0          1
40.0          1
39.0          1
38.0          1
37.0          1
36.0          1
34.0          1
47.0          1
31.0          1
32.0          1
49.0          1
29.0          1
28.0          1
27.0          1
26.0          1
48.0          1
30.0          1
58.0          1
57.0          1
56.0          1
55.0          1
54.0          1
53.0          1
52.0          1
51.0          1
50.0          1
59.0          1
Name: V104, dtype: int64
V104 314 missing values
V104 0.028617492579046708

0.0     1008297
1.0       58315
2.0       16070
3.0        5657
4.0        2401
         ...
76.0          2
80.0          2
79.0          2
85.0          2
78.0          2
Name: V105, Length: 100, dtype: int64
V105 314 missing values
V105 0.028617492579046708

0.0     1031045
1.0       46274
2.0       11295
3.0        3458
4.0        1326
         ...
60.0          1
59.0          1
58.0          1
57.0          1
69.0          1
Name: V106, Length: 81, dtype: int64
V106 314 missing values
V106 0.028617492579046708

1.0    1096669
0.0        248
Name: V107, dtype: int64
V107 314 missing values
V107 0.028617492579046708

1.0    1090712
2.0       5559
3.0        288
0.0        252
4.0         74
5.0         18
6.0          7
7.0          5
8.0          2
Name: V108, dtype: int64
V108 314 missing values
V108 0.028617492579046708

1.0    1078363
2.0      17825
3.0        553
4.0         81
0.0         63
5.0         18
6.0          7
7.0          5
8.0          2
Name: V109, dtype: int64
V109 314 missing values
V109 0.028617492579046708

1.0    1087162
2.0       9130
3.0        342
0.0        177
4.0         74
5.0         18
6.0          7
7.0          5
8.0          2
Name: V110, dtype: int64
V110 314 missing values
V110 0.028617492579046708

1.0    1093385
2.0       2859
3.0        309
0.0        252
4.0         74
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V111, dtype: int64
V111 314 missing values
V111 0.028617492579046708

1.0    1090288
2.0       6111
3.0        341
4.0         76
0.0         63
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V112, dtype: int64
V112 314 missing values
V112 0.028617492579046708

1.0    1092554
2.0       3748
3.0        326
0.0        177
4.0         74
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V113, dtype: int64
V113 314 missing values
V113 0.028617492579046708

1.0    1085144
2.0      10726
3.0        593
0.0        253
4.0        130
5.0         41
6.0         19
8.0          5
7.0          4
9.0          2
Name: V114, dtype: int64
V114 314 missing values
V114 0.028617492579046708

1.0    1058635
2.0      35836
3.0       2042
4.0        260
0.0         64
5.0         50
6.0         19
8.0          5
7.0          4
9.0          2
Name: V115, dtype: int64
V115 314 missing values
V115 0.028617492579046708

1.0    1077889
2.0      17717
3.0        906
0.0        178
4.0        154
5.0         43
6.0         19
8.0          5
7.0          4
9.0          2
Name: V116, dtype: int64
V116 314 missing values
V116 0.028617492579046708

1.0    1095706
2.0        957
0.0        252
3.0          2
Name: V117, dtype: int64
V117 314 missing values
V117 0.028617492579046708

1.0    1094762
2.0       2087
0.0         63
3.0          5
Name: V118, dtype: int64
V118 314 missing values
V118 0.028617492579046708

1.0    1095401
2.0       1337
0.0        177
3.0          2
Name: V119, dtype: int64
V119 314 missing values
V119 0.028617492579046708

1.0    1095014
2.0       1626
0.0        252
3.0         23
4.0          2
Name: V120, dtype: int64
V120 314 missing values
V120 0.028617492579046708

1.0    1091100
2.0       5659
3.0         93
0.0         63
4.0          2
Name: V121, dtype: int64
V121 314 missing values
V121 0.028617492579046708

1.0    1094060
2.0       2631
0.0        177
3.0         47
4.0          2
Name: V122, dtype: int64
V122 314 missing values
V122 0.028617492579046708

1.0     1066011
2.0       26486
3.0        2793
4.0         706
5.0         298
0.0         253
6.0         157
7.0          97
8.0          51
9.0          35
10.0         18
11.0          6
12.0          4
13.0          2
Name: V123, dtype: int64
V123 314 missing values
V123 0.028617492579046708

1.0     1009506
2.0       73003
3.0       10033
4.0        3099
5.0         587
6.0         284
7.0         118
10.0         77
0.0          64
9.0          61
8.0          61
11.0         11
12.0          9
13.0          4
Name: V124, dtype: int64
V124 314 missing values
V124 0.028617492579046708

1.0     1049163
2.0       40788
3.0        4690
4.0        1284
5.0         358
6.0         178
0.0         178
7.0         108
8.0          88
9.0          46
10.0         20
11.0          9
12.0          5
13.0          2
Name: V125, dtype: int64
V125 314 missing values
V125 0.028617492579046708

0.000000        947053
117.000000        6524
59.000000         6416
100.000000        3842
49.000000         3405
                 ...
41983.000000         1
2622.000000          1
163.782806           1
163.782700           1
2027.949951          1
Name: V126, Length: 15135, dtype: int64
V126 314 missing values
V126 0.028617492579046708

0.000000       675033
107.949997      10814
57.950001        9884
59.000000        9854
117.000000       9819
                ...
2727.500000         1
170.470001          1
170.490005          1
2728.500000         1
2166.739990         1
Name: V127, Length: 33546, dtype: int64
V127 314 missing values
V127 0.028617492579046708

0.000000        839537
117.000000       10090
59.000000        10013
57.950001         6133
107.949997        5268
                 ...
137.528595           1
88749.000000         1
346.747009           1
2199.969971          1
486.183899           1
Name: V128, Length: 20510, dtype: int64
V128 314 missing values
V128 0.028617492579046708

0.000000       1040020
59.000000         4675
117.000000        4442
49.000000         2543
39.000000         1705
                ...
99.284897            1
543.000000           1
1591.000000          1
270.989990           1
24.346100            1
Name: V129, Length: 2638, dtype: int64
V129 314 missing values
V129 0.028617492579046708

0.000000       747883
107.949997      10914
59.000000       10329
117.000000      10115
57.950001        9930
                ...
155.919998          1
155.889999          1
155.860001          1
2493.719971         1
2167.169922         1
Name: V130, Length: 16250, dtype: int64
V130 314 missing values
V130 0.028617492579046708

0.000000       922414
59.000000       10092
117.000000       9896
57.950001        5346
49.000000        5138
                ...
1932.000000         1
1925.000000         1
120.449997          1
1921.000000         1
1737.000000         1
Name: V131, Length: 5789, dtype: int64
V131 314 missing values
V131 0.028617492579046708

0.000000        1037757
117.000000         2484
59.000000          2132
100.000000         1382
49.000000          1211
                 ...
2577.000000           1
161.077606            1
161.199493            1
41268.000000          1
2027.949951           1
Name: V132, Length: 9303, dtype: int64
V132 314 missing values
V132 0.028617492579046708

0.000000        1003636
117.000000         3214
59.000000          2740
226.000000         1554
100.000000         1541
                 ...
2807.949951           1
2806.500000           1
44836.000000          1
175.125900            1
2185.500000           1
Name: V133, Length: 13668, dtype: int64
V133 314 missing values
V133 0.028617492579046708

0.000000       1023514
117.000000        2781
59.000000         2310
100.000000        1444
226.000000        1307
                ...
2724.000000          1
170.299500           1
2725.000000          1
170.422501           1
134.910004           1
Name: V134, Length: 11314, dtype: int64
V134 314 missing values
V134 0.028617492579046708

0.000000       1042269
100.000000        2221
117.000000        1735
200.000000        1648
59.000000         1598
                ...
2401.510010          1
9.382100             1
2406.159912          1
150.479996           1
1955.969971          1
Name: V135, Length: 6275, dtype: int64
V135 314 missing values
V135 0.028617492579046708

0.000000       1008297
59.000000         2817
117.000000        2802
100.000000        2426
107.949997        2153
                ...
2415.689941          1
2418.000000          1
2419.889893          1
2425.000000          1
2023.900024          1
Name: V136, Length: 8207, dtype: int64
V136 314 missing values
V136 0.028617492579046708

0.000000       1031045
100.000000        2320
117.000000        2162
59.000000         2024
200.000000        1676
                ...
1868.000000          1
344.540009           1
1871.599976          1
116.860001           1
511.980011           1
Name: V137, Length: 7138, dtype: int64
V137 314 missing values
V137 0.028617492579046708

0.0     154970
1.0       1720
2.0        442
3.0        201
4.0        151
5.0         54
6.0         45
8.0         41
7.0         28
10.0        13
9.0         13
15.0         9
12.0         7
11.0         7
14.0         7
13.0         6
17.0         3
18.0         3
19.0         3
16.0         3
20.0         2
22.0         1
21.0         1
Name: V138, dtype: int64
V138 939501 missing values
V138 85.62472259715594

1.0     92735
0.0     41692
2.0     12171
3.0      5069
4.0      2568
5.0      1560
6.0       691
7.0       388
8.0       216
9.0       168
10.0      106
11.0       70
12.0       65
13.0       47
14.0       29
15.0       26
17.0       21
16.0       21
18.0       15
21.0       14
19.0       13
20.0       10
24.0        8
22.0        5
23.0        5
25.0        4
26.0        4
27.0        2
28.0        2
30.0        1
32.0        1
33.0        1
29.0        1
31.0        1
Name: V139, dtype: int64
V139 939501 missing values
V139 85.62472259715594

1.0     91094
0.0     41642
2.0     12422
3.0      5228
4.0      2851
5.0      1668
6.0       953
7.0       526
8.0       324
9.0       225
10.0      159
11.0      158
12.0      101
13.0       67
14.0       51
15.0       42
16.0       40
17.0       26
18.0       24
19.0       18
20.0       13
21.0       11
59.0       10
22.0        7
23.0        7
24.0        7
25.0        7
26.0        7
27.0        4
28.0        3
29.0        2
33.0        2
32.0        2
31.0        2
30.0        2
43.0        1
48.0        1
34.0        1
35.0        1
36.0        1
37.0        1
38.0        1
39.0        1
40.0        1
41.0        1
42.0        1
56.0        1
55.0        1
45.0        1
46.0        1
47.0        1
58.0        1
57.0        1
49.0        1
50.0        1
51.0        1
52.0        1
53.0        1
54.0        1
44.0        1
Name: V140, dtype: int64
V140 939501 missing values
V140 85.62472259715594

0.0    152182
1.0      4822
2.0       613
3.0       106
5.0         3
4.0         3
6.0         1
Name: V141, dtype: int64
V141 939501 missing values
V141 85.62472259715594

0.0     152053
1.0       4208
2.0        770
3.0        318
4.0        191
5.0         88
11.0        31
7.0         31
6.0         23
8.0         11
9.0          5
10.0         1
Name: V142, dtype: int64
V142 939501 missing values
V142 85.62472259715594

0.0      126671
1.0        6602
2.0        3562
3.0        1970
4.0        1389
          ...
869.0         1
832.0         1
608.0         1
470.0         1
511.0         1
Name: V143, Length: 870, dtype: int64
V143 939225 missing values
V143 85.59956836801001

0.0     122100
1.0      10607
2.0       4010
3.0       1935
11.0      1334
         ...
67.0         1
66.0         1
65.0         1
63.0         1
71.0         1
Name: V144, Length: 86, dtype: int64
V144 939225 missing values
V144 85.59956836801001

0.0      119845
1.0       10029
2.0        3519
3.0        1524
4.0         664
          ...
61.0          6
119.0         5
56.0          5
68.0          4
120.0         2
Name: V145, Length: 298, dtype: int64
V145 939225 missing values
V145 85.59956836801001

0.0     143940
1.0       8691
2.0       2906
3.0       1178
4.0        480
5.0        246
6.0        117
7.0         57
8.0         39
11.0        28
9.0         13
10.0        12
12.0         4
24.0         3
14.0         2
15.0         2
17.0         2
16.0         2
13.0         2
23.0         1
18.0         1
19.0         1
20.0         1
21.0         1
22.0         1
Name: V146, dtype: int64
V146 939501 missing values
V146 85.62472259715594

0.0     143547
1.0       8663
2.0       2988
3.0       1261
4.0        536
5.0        277
6.0        122
7.0        110
8.0         55
11.0        49
9.0         25
10.0        22
18.0        12
22.0        11
12.0         8
14.0         7
15.0         7
13.0         6
17.0         6
16.0         6
20.0         4
19.0         2
21.0         2
25.0         1
23.0         1
24.0         1
26.0         1
Name: V147, dtype: int64
V147 939501 missing values
V147 85.62472259715594

1.0     113712
0.0      41692
2.0       1653
3.0        378
4.0        149
5.0         65
6.0         20
7.0         14
8.0         13
9.0          7
20.0         4
16.0         3
10.0         3
13.0         3
14.0         3
11.0         3
12.0         2
15.0         2
17.0         2
18.0         1
19.0         1
Name: V148, dtype: int64
V148 939501 missing values
V148 85.62472259715594

1.0     113224
0.0      41642
2.0       1952
3.0        436
4.0        224
5.0         88
6.0         61
7.0         31
8.0         20
9.0         11
11.0         7
10.0         6
15.0         6
20.0         4
13.0         4
14.0         4
12.0         3
16.0         3
17.0         2
18.0         1
19.0         1
Name: V149, dtype: int64
V149 939501 missing values
V149 85.62472259715594

1.0       131516
2.0         5160
3.0          833
4.0          323
5.0          140
           ...
1720.0         1
1039.0         1
1038.0         1
1035.0         1
954.0          1
Name: V150, Length: 3293, dtype: int64
V150 939225 missing values
V150 85.59956836801001

1.0     136552
52.0      2294
53.0      1842
51.0      1695
54.0      1407
2.0       1177
50.0       966
49.0       940
55.0       843
56.0       548
48.0       513
11.0       475
10.0       452
13.0       403
12.0       394
9.0        377
47.0       370
46.0       362
8.0        339
14.0       328
45.0       314
44.0       302
43.0       297
3.0        279
57.0       278
15.0       257
7.0        249
42.0       233
16.0       232
17.0       181
38.0       178
6.0        174
41.0       167
18.0       162
30.0       156
37.0       153
39.0       149
31.0       148
19.0       140
40.0       132
36.0       131
35.0       123
32.0       121
4.0        117
34.0       116
33.0       109
5.0        104
26.0        99
29.0        91
20.0        83
27.0        74
23.0        74
21.0        73
22.0        71
25.0        62
28.0        60
24.0        39
58.0         1
Name: V151, dtype: int64
V151 939225 missing values
V151 85.59956836801001

1.0     133930
68.0      4003
66.0      3590
67.0      3466
2.0       3427
65.0      1905
64.0      1628
53.0      1044
63.0       730
52.0       501
3.0        414
69.0       380
54.0       364
57.0       311
55.0       298
56.0       275
51.0       259
50.0       245
49.0       220
4.0        170
58.0       149
5.0        106
61.0        96
60.0        94
48.0        76
59.0        58
6.0         58
45.0        55
7.0         30
46.0        28
62.0        26
44.0        19
47.0        17
8.0         12
16.0         5
18.0         4
9.0          3
10.0         3
15.0         2
11.0         1
17.0         1
14.0         1
13.0         1
12.0         1
Name: V152, dtype: int64
V152 939225 missing values
V152 85.59956836801001

1.0     114534
0.0      41692
2.0       1072
3.0        253
4.0         94
5.0         36
6.0         19
7.0          7
8.0          5
16.0         5
18.0         4
15.0         2
9.0          1
11.0         1
12.0         1
13.0         1
14.0         1
17.0         1
10.0         1
Name: V153, dtype: int64
V153 939501 missing values
V153 85.62472259715594

1.0     114303
0.0      41642
2.0       1179
3.0        343
4.0        132
5.0         58
6.0         29
7.0         15
8.0         10
16.0         5
18.0         4
9.0          2
15.0         2
11.0         1
12.0         1
13.0         1
14.0         1
17.0         1
10.0         1

In [17]:
#on sépare les variables en 3 categories : celles ou il manque beaucoup de données, un peu et pas beaucoup
low_missing_num_trans_cols = []      # lower than 15% missing values
medium_missing_num_trans_cols = []   # between 15% and 60% missing
many_missing_num_trans_cols = []     # more than 60% missing

#on tri les données en fonction du nombres de données manquantes
for i in num_trans_cols:
    percentage = transaction_data[i].isnull().sum() * 100 / len(transaction_data[i])
    if percentage < 15:
        low_missing_num_trans_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_num_trans_cols.append(i)
    else:
        many_missing_num_trans_cols.append(i)
        
print("num_trans_cols: \n\n")        
print("number low missing: ", len(low_missing_num_trans_cols), "\n")
print("number medium missing: ", len(medium_missing_num_trans_cols), "\n")
print("number many missing: ", len(many_missing_num_trans_cols), "\n")

num_trans_cols:


number low missing:  176

number medium missing:  35

number many missing:  167

In [18]:
# Summary so far:

# we have 2 dataframes:   transaction_data and identity_data

####################################################################
# features:

# transaction_data:     14 categorical and 378 numerical features
# identity_data:        17 categorical and  23 numerical features
####################################################################
# missing values:

# cat_trans_cols:      4 low,    8 medium,    2 many 
# num_trans_cols:    176 low,   35 medium,  167 many

# cat_id_cols:        11 low,    4 medium,    2 many 
# num_id_cols:         9 low,    6 medium,    8 many
####################################################################

## On transforme les données en fonctions de leur categories : Numérique

### Valeurs numériques avec un nombres trop important de NAN : on drop les colonnes

In [19]:
# transactions
print("shape before dropping num_trans_cols: ", transaction_data.shape, "\n")        
transaction_data = transaction_data.drop(columns = many_missing_num_trans_cols)
print("shape after dropping num_trans_cols: ", transaction_data.shape, "\n\n")    

#identity
print("shape before dropping num_id_cols: ", identity_data.shape, "\n")        
identity_data = identity_data.drop(columns = many_missing_num_id_cols)
print("shape after dropping num_id_cols: ", identity_data.shape, "\n")

shape before dropping num_trans_cols:  (1097231, 392)

shape after dropping num_trans_cols:  (1097231, 225)


shape before dropping num_id_cols:  (286140, 40)

shape after dropping num_id_cols:  (286140, 32)

On met à jour la liste des variables numérique suite à la suppression de certaines

In [20]:
#maj de transactions
n = (transaction_data.dtypes != 'object')
num_trans_cols = list(n[n].index) 

#maj de identity
n = (identity_data.dtypes != 'object')
num_id_cols = list(n[n].index)

### Peu de valeurs manquantes --> on remplace par la moyenne

In [21]:
from sklearn.impute import SimpleImputer

### *Transactions*

In [22]:
print("index before imputation: ", transaction_data.index, "\n")
print("columns before imputation: ", transaction_data.columns, "\n")

print("starting imputation..... \n\n")
my_imputer = SimpleImputer(strategy = 'mean') #on choisi d'appliquer la moyenne
my_imputer.fit(transaction_data[low_missing_num_trans_cols])

#transformation
transaction_data[low_missing_num_trans_cols] = my_imputer.transform(transaction_data[low_missing_num_trans_cols])

print("index after imputation: ", transaction_data.index, "\n")
print("columns after imputation: ", transaction_data.columns, "\n")
print("values after imputing: ", transaction_data[low_missing_num_trans_cols], "\n")

index before imputation:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=1097231)

columns before imputation:  Index(['TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2',
       'card3', 'card4', 'card5', 'card6', 'addr1',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=225)

starting imputation.....


index after imputation:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=1097231)

columns after imputation:  Index(['TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2',
       'card3', 'card4', 'card5', 'card6', 'addr1',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=225)

values after imputing:                 TransactionDT  TransactionAmt    card1  ...  V319  V320  V321
TransactionID                                          ...
2987000              86400.0          68.500  13926.0  ...   0.0   0.0   0.0
2987001              86401.0          29.000   2755.0  ...   0.0   0.0   0.0
2987002              86469.0          59.000   4663.0  ...   0.0   0.0   0.0
2987003              86499.0          50.000  18132.0  ...   0.0   0.0   0.0
2987004              86506.0          50.000   4497.0  ...   0.0   0.0   0.0
...                      ...             ...      ...  ...   ...   ...   ...
4170235           34214279.0          94.679  13832.0  ...   0.0   0.0   0.0
4170236           34214287.0          12.173   3154.0  ...   0.0   0.0   0.0
4170237           34214326.0          49.000  16661.0  ...   0.0   0.0   0.0
4170238           34214337.0         202.000  16621.0  ...   0.0   0.0   0.0
4170239           34214345.0          24.346   5713.0  ...   0.0   0.0   0.0

[1097231 rows x 176 columns]

### *Identity*

In [23]:
print("index before imputation: ", identity_data.index, "\n")
print("columns before imputation: ", identity_data.columns, "\n")

print("starting imputation....\n")
my_imputer = SimpleImputer(strategy = 'mean') 
my_imputer.fit(identity_data[low_missing_num_id_cols])

#transformation
identity_data[low_missing_num_id_cols] = my_imputer.transform(identity_data[low_missing_num_id_cols])

print("index after imputation: ", identity_data.index, "\n")
print("columns after imputation: ", identity_data.columns, "\n")

index before imputation:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=286140)

columns before imputation:  Index(['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10',
       'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_19',
       'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo'],
      dtype='object')

starting imputation....

index after imputation:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=286140)

columns after imputation:  Index(['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10',
       'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_19',
       'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo'],
      dtype='object')

### Des valeurs manquantes mais pas trop -> on remplace par la médiane

### *Transactions*

In [24]:
print("index before imputation: ", transaction_data.index, "\n")
print("columns before imputation: ", transaction_data.columns, "\n")

print("values before imputing: ", transaction_data[medium_missing_num_trans_cols], "\n")

print("starting imputation.....\n\n")
my_imputer = SimpleImputer(strategy = 'median') #on choisi d'appliquer la médiane
my_imputer.fit(transaction_data[medium_missing_num_trans_cols])

#transformations
transaction_data[medium_missing_num_trans_cols] = my_imputer.transform(transaction_data[medium_missing_num_trans_cols])

print("index after imputation: ", transaction_data.index, "\n")
print("columns after imputation: ", transaction_data.columns, "\n")
#print("values after imputing: ", transaction_data[medium_missing_num_trans_cols], "\n")

index before imputation:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=1097231)

columns before imputation:  Index(['TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2',
       'card3', 'card4', 'card5', 'card6', 'addr1',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=225)

values before imputing:                 dist1     D2    D3    D4    D5  ...  V48  V49  V50  V51  V52
TransactionID                                  ...
2987000         19.0    NaN  13.0   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN
2987001          NaN    NaN   NaN   0.0   NaN  ...  0.0  0.0  0.0  0.0  0.0
2987002        287.0    NaN   NaN   0.0   NaN  ...  0.0  0.0  0.0  0.0  0.0
2987003          NaN  112.0   0.0  94.0   0.0  ...  0.0  0.0  0.0  0.0  0.0
2987004          NaN    NaN   NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN
...              ...    ...   ...   ...   ...  ...  ...  ...  ...  ...  ...
4170235          NaN    NaN   NaN   0.0   NaN  ...  0.0  0.0  1.0  1.0  1.0
4170236          NaN   16.0  16.0  16.0  16.0  ...  0.0  0.0  1.0  1.0  1.0
4170237          NaN    NaN   NaN   0.0   NaN  ...  0.0  0.0  0.0  0.0  0.0
4170238          NaN    NaN   NaN   0.0   NaN  ...  0.0  0.0  0.0  0.0  0.0
4170239          NaN    NaN   NaN   0.0   NaN  ...  0.0  0.0  1.0  1.0  1.0

[1097231 rows x 35 columns]

starting imputation.....


index after imputation:  Int64Index([2987000, 2987001, 2987002, 2987003, 2987004, 2987005, 2987006,
            2987007, 2987008, 2987009,
            ...
            4170230, 4170231, 4170232, 4170233, 4170234, 4170235, 4170236,
            4170237, 4170238, 4170239],
           dtype='int64', name='TransactionID', length=1097231)

columns after imputation:  Index(['TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2',
       'card3', 'card4', 'card5', 'card6', 'addr1',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=225)

### *Identity*

In [25]:
print("index before imputation: ", identity_data.index, "\n")
print("columns before imputation: ", identity_data.columns, "\n")


my_imputer = SimpleImputer(strategy = 'median') 
my_imputer.fit(identity_data[medium_missing_num_id_cols])

print("values before imputing: ", identity_data[medium_missing_num_id_cols], "\n")

#transformations
identity_data[medium_missing_num_id_cols] = my_imputer.transform(identity_data[medium_missing_num_id_cols])

print("index after imputation: ", identity_data.index, "\n")
print("columns after imputation: ", identity_data.columns, "\n")

index before imputation:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=286140)

columns before imputation:  Index(['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10',
       'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_19',
       'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo'],
      dtype='object')

values before imputing:                 id_03  id_04  id_09  id_10  id_14  id_32
TransactionID
2987004          NaN    NaN    NaN    NaN -480.0   32.0
2987008          NaN    NaN    NaN    NaN -300.0   32.0
2987010          0.0    0.0    0.0    0.0    NaN    NaN
2987011          NaN    NaN    NaN    NaN    NaN    NaN
2987016          0.0    0.0    0.0    0.0 -300.0   24.0
...              ...    ...    ...    ...    ...    ...
4170230          NaN    NaN    NaN    NaN    NaN    NaN
4170233          0.0    0.0    0.0    0.0    NaN    NaN
4170234          NaN    NaN    NaN    NaN -300.0   32.0
4170236          NaN    NaN    NaN    NaN    NaN    NaN
4170239          0.0    0.0    0.0    0.0    NaN    NaN

[286140 rows x 6 columns]

index after imputation:  Int64Index([2987004, 2987008, 2987010, 2987011, 2987016, 2987017, 2987022,
            2987038, 2987040, 2987048,
            ...
            4170224, 4170225, 4170226, 4170228, 4170229, 4170230, 4170233,
            4170234, 4170236, 4170239],
           dtype='int64', name='TransactionID', length=286140)

columns after imputation:  Index(['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10',
       'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_19',
       'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo'],
      dtype='object')

Il n'y a plus de valeurs numériques manquantes :

In [26]:
print(transaction_data[num_trans_cols].isnull().sum().sum())

0

In [27]:
print(identity_data[num_id_cols].isnull().sum().sum())

0

## On va réduire la taille des dataframes pour éviter d'utiliser trop de RAM

Par défaut toutes les données numériques sont sotckées sur du int_64 ce qui prend beaucoup de place. On va donc les séparées en plusieurs catégories en fonctions de la taille dont elles ont besoin puis réduire la taille qui leur est alloué

**On tri les données en fonction de l'espace dont elles ont besoin**

In [28]:
#fonction générique
# prend un paramèmtre un dataframe et la liste des colonnes dont il faut modifier la taile
# retourne 5 listes contenant le nom des colonnes et indiquant quelle taille leur est necessaire
def detect_num_cols_to_shrink(list_of_num_cols, dataframe):
 
    convert_to_int8 = []
    convert_to_int16 = []
    convert_to_int32 = []
  
    convert_to_float16 = []
    convert_to_float32 = []
    
    for col in list_of_num_cols:
        
        if dataframe[col].dtype in ['int', 'int8', 'int32', 'int64']:
            describe_object = dataframe[col].describe()
            minimum = describe_object[3]
            maximum = describe_object[7]
            diff = abs(maximum - minimum)

            if diff < 255:
                convert_to_int8.append(col)
            elif diff < 65535:
                convert_to_int16.append(col)
            elif diff < 4294967295:
                convert_to_int32.append(col)   
                
        elif dataframe[col].dtype in ['float', 'float16', 'float32', 'float64']:
            describe_object = dataframe[col].describe()
            minimum = describe_object[3]
            maximum = describe_object[7]
            diff = abs(maximum - minimum)

            if diff < 65535:
                convert_to_float16.append(col)
            elif diff < 4294967295:
                convert_to_float32.append(col) 
        
    list_of_lists = []
    list_of_lists.append(convert_to_int8)
    list_of_lists.append(convert_to_int16)
    list_of_lists.append(convert_to_int32)
    list_of_lists.append(convert_to_float16)
    list_of_lists.append(convert_to_float32)
    
    return list_of_lists

### *Transaction*

On tri les données

In [29]:
num_cols_to_shrink_trans = detect_num_cols_to_shrink(num_trans_cols, transaction_data)

convert_to_int8 = num_cols_to_shrink_trans[0]
convert_to_int16 = num_cols_to_shrink_trans[1]
convert_to_int32 = num_cols_to_shrink_trans[2]

convert_to_float16 = num_cols_to_shrink_trans[3]
convert_to_float32 = num_cols_to_shrink_trans[4]

On change la taille qui leur est alloué

In [30]:
print("starting with converting process....")

for col in convert_to_int16:
    transaction_data[col] = transaction_data[col].astype('int16') 
    
for col in convert_to_int32:
    transaction_data[col] = transaction_data[col].astype('int32') 

for col in convert_to_float16:
    transaction_data[col] = transaction_data[col].astype('float16')
    
for col in convert_to_float32:
    transaction_data[col] = transaction_data[col].astype('float32')
    
print("successfully converted!")

starting with converting process....
successfully converted!

### *Identity*

In [31]:
num_cols_to_shrink_id = detect_num_cols_to_shrink(num_id_cols, identity_data)

convert_to_int8 = num_cols_to_shrink_id[0]
convert_to_int16 = num_cols_to_shrink_id[1]
convert_to_int32 = num_cols_to_shrink_id[2]

convert_to_float16 = num_cols_to_shrink_id[3]
convert_to_float32 = num_cols_to_shrink_id[4]

In [32]:
for col in convert_to_float16:
    identity_data[col] = identity_data[col].astype('float16')
    
for col in convert_to_float32:
    identity_data[col] = identity_data[col].astype('float32')
    
    
print("successfully converted!")

successfully converted!

## On transforme les données en fonctions de leur categories : Categorique

### Trop de valeur manquantes --> on supprime les colonnes

### *Transactions*

In [33]:
print("shape before dropping many_missing_cat_trans_cols: ", transaction_data.shape, "\n")        
transaction_data = transaction_data.drop(columns = many_missing_cat_trans_cols)
print("shape after dropping many_missing_cat_trans_cols: ", transaction_data.shape, "\n\n")    

print("shape before dropping many_missing_cat_id_cols: ", identity_data.shape, "\n")        
identity_data = identity_data.drop(columns = many_missing_cat_id_cols)
print("shape after dropping many_missing_cat_id_cols: ", identity_data.shape, "\n")

shape before dropping many_missing_cat_trans_cols:  (1097231, 225)

shape after dropping many_missing_cat_trans_cols:  (1097231, 223)


shape before dropping many_missing_cat_id_cols:  (286140, 32)

shape after dropping many_missing_cat_id_cols:  (286140, 30)

on met à jour les listes de nom de colonnes categorielles après suppression

In [34]:
c = (transaction_data.dtypes == 'object')
cat_trans_cols = list(c[c].index) 

c = (identity_data.dtypes == 'object')
cat_id_cols = list(c[c].index)

### Beaucoup mais pas trop de valeurs manquantes --> on remplace les nans par la valeur la plus présente

### *Transaction*

In [35]:
for col in cat_trans_cols:
    print(col, transaction_data[col].nunique(), "\n")

ProductCD 5

card4 4

card6 4

P_emaildomain 60

M1 2

M2 2

M3 2

M4 3

M6 2

M7 2

M8 2

M9 2

On remarque que certaines variables prennent leur valeurs dans un petit ensemble tandis que d'autes prennent leur valeurs dans de plus grand ensembles.

On crée donc 2 listes : 1 avec les colonnes ayant peu de valeur, 1 avec l'autre

In [36]:
low_card_trans_cols = ["ProductCD", "card4", "card6", "M1", "M2", "M3", "M4", "M6", "M7", "M8", "M9"]
high_card_trans_cols = ["P_emaildomain"]

On remplace les valeurs manquantes par la valeur la plus fréquente dans chaque colonnes

In [37]:
for i in cat_trans_cols:
    most_frequent_value = transaction_data[i].mode()[0]
    print("For column: ", i, "the most frequent value is: ", most_frequent_value, "\n")
    transaction_data[i].fillna(most_frequent_value, inplace = True)

For column:  ProductCD the most frequent value is:  W

For column:  card4 the most frequent value is:  visa

For column:  card6 the most frequent value is:  debit

For column:  P_emaildomain the most frequent value is:  gmail.com

For column:  M1 the most frequent value is:  T

For column:  M2 the most frequent value is:  T

For column:  M3 the most frequent value is:  T

For column:  M4 the most frequent value is:  M0

For column:  M6 the most frequent value is:  F

For column:  M7 the most frequent value is:  F

For column:  M8 the most frequent value is:  F

For column:  M9 the most frequent value is:  T

On encode : c'est à dire que l'on donne une valeur numérique à chaque valeur categorielle, pour les variables se trouvant dans high_card_trans_cols

In [38]:
from sklearn.preprocessing import LabelEncoder
    
label_encoder = LabelEncoder()
print("transaction_data.shape before label-encoding: ", transaction_data.shape, "\n")

transaction_data[high_card_trans_cols] = label_encoder.fit_transform(transaction_data[high_card_trans_cols].values.ravel())

print("transaction_data.shape after label-encoding: ", transaction_data.shape, "\n")
print("transaction_data[high_card_trans_cols] after label_encoding: ",transaction_data[high_card_trans_cols], "\n")

transaction_data.shape before label-encoding:  (1097231, 223)

transaction_data.shape after label-encoding:  (1097231, 223)

transaction_data[high_card_trans_cols] after label_encoding:                 P_emaildomain
TransactionID
2987000                   16
2987001                   16
2987002                   35
2987003                   54
2987004                   16
...                      ...
4170235                   16
4170236                   19
4170237                   19
4170238                   19
4170239                   19

[1097231 rows x 1 columns]

Maintenant on s'intéresse à celles qui ont une plus petite cardinalité

On utilise pd.get_dummies, qui crée des colonnes (de 0 et 1) pour chaque valeur possible que peut prendre une colonne

In [39]:
print("shape before encoding: ", transaction_data.shape, "\n")
print("columns to encode: ", low_card_trans_cols, "\n")
print("transaction_data.columns.to_list() before encoding: ", transaction_data.columns.to_list(), "\n")


low_card_trans_encoded = pd.get_dummies(transaction_data[low_card_trans_cols], dummy_na = False)
transaction_data.drop(columns = low_card_trans_cols, inplace = True)

print("shape after encoding: ", transaction_data.shape, "\n\n")
print("shape of new dataframe: ", low_card_trans_encoded.shape, "\n\n")
print("newly generated columns: ", low_card_trans_encoded.columns, "\n")
print("low_card_trans_encoded.info(): ", low_card_trans_encoded.info(),"\n")
print("transaction_data.columns.to_list() after encoding: ", transaction_data.columns.to_list(), "\n")

shape before encoding:  (1097231, 223)

columns to encode:  ['ProductCD', 'card4', 'card6', 'M1', 'M2', 'M3', 'M4', 'M6', 'M7', 'M8', 'M9']

transaction_data.columns.to_list() before encoding:  ['TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'addr1', 'addr2', 'dist1', 'P_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D10', 'D11', 'D15', 'M1', 'M2', 'M3', 'M4', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321']

shape after encoding:  (1097231, 212)


shape of new dataframe:  (1097231, 30)


newly generated columns:  Index(['ProductCD_C', 'ProductCD_H', 'ProductCD_R', 'ProductCD_S',
       'ProductCD_W', 'card4_american express', 'card4_discover',
       'card4_mastercard', 'card4_visa', 'card6_charge card', 'card6_credit',
       'card6_debit', 'card6_debit or credit', 'M1_F', 'M1_T', 'M2_F', 'M2_T',
       'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M6_F', 'M6_T', 'M7_F',
       'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1097231 entries, 2987000 to 4170239
Data columns (total 30 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   ProductCD_C             1097231 non-null  uint8
 1   ProductCD_H             1097231 non-null  uint8
 2   ProductCD_R             1097231 non-null  uint8
 3   ProductCD_S             1097231 non-null  uint8
 4   ProductCD_W             1097231 non-null  uint8
 5   card4_american express  1097231 non-null  uint8
 6   card4_discover          1097231 non-null  uint8
 7   card4_mastercard        1097231 non-null  uint8
 8   card4_visa              1097231 non-null  uint8
 9   card6_charge card       1097231 non-null  uint8
 10  card6_credit            1097231 non-null  uint8
 11  card6_debit             1097231 non-null  uint8
 12  card6_debit or credit   1097231 non-null  uint8
 13  M1_F                    1097231 non-null  uint8
 14  M1_T                    1097231 non-null  uint8
 15  M2_F                    1097231 non-null  uint8
 16  M2_T                    1097231 non-null  uint8
 17  M3_F                    1097231 non-null  uint8
 18  M3_T                    1097231 non-null  uint8
 19  M4_M0                   1097231 non-null  uint8
 20  M4_M1                   1097231 non-null  uint8
 21  M4_M2                   1097231 non-null  uint8
 22  M6_F                    1097231 non-null  uint8
 23  M6_T                    1097231 non-null  uint8
 24  M7_F                    1097231 non-null  uint8
 25  M7_T                    1097231 non-null  uint8
 26  M8_F                    1097231 non-null  uint8
 27  M8_T                    1097231 non-null  uint8
 28  M9_F                    1097231 non-null  uint8
 29  M9_T                    1097231 non-null  uint8
dtypes: uint8(30)
memory usage: 39.8 MB
low_card_trans_encoded.info():  None

transaction_data.columns.to_list() after encoding:  ['TransactionDT', 'TransactionAmt', 'card1', 'card2', 'card3', 'card5', 'addr1', 'addr2', 'dist1', 'P_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D10', 'D11', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321']

On supprime 1 colonne de chaque nouveau set de colonnes créé pour éviter d'avoir plus de corrélation que nécessaire

In [40]:
print("newly generated columns: ", low_card_trans_encoded.columns, "\n")

low_card_trans_encoded.drop(columns = ['ProductCD_W', 'card4_visa', 'card6_credit', 'M1_F', 'M2_F', 'M3_F', 'M4_M0', 'M6_F', 'M7_F', 'M8_F', 'M9_F'], inplace=True)

print("after deleting one column of each category: ", low_card_trans_encoded.columns, "\n")

newly generated columns:  Index(['ProductCD_C', 'ProductCD_H', 'ProductCD_R', 'ProductCD_S',
       'ProductCD_W', 'card4_american express', 'card4_discover',
       'card4_mastercard', 'card4_visa', 'card6_charge card', 'card6_credit',
       'card6_debit', 'card6_debit or credit', 'M1_F', 'M1_T', 'M2_F', 'M2_T',
       'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M6_F', 'M6_T', 'M7_F',
       'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T'],
      dtype='object')

after deleting one column of each category:  Index(['ProductCD_C', 'ProductCD_H', 'ProductCD_R', 'ProductCD_S',
       'card4_american express', 'card4_discover', 'card4_mastercard',
       'card6_charge card', 'card6_debit', 'card6_debit or credit', 'M1_T',
       'M2_T', 'M3_T', 'M4_M1', 'M4_M2', 'M6_T', 'M7_T', 'M8_T', 'M9_T'],
      dtype='object')

### *Identity*

In [41]:
low_card_id_cols =  ["id_12", "id_15", "id_16", "id_28", "id_29", "id_34", "id_35", "id_36", "id_37", "id_38", "DeviceType"]
high_card_id_cols = ["id_30", "id_31", "id_33", "DeviceInfo"]

In [42]:
for i in cat_id_cols:
    most_frequent_value = identity_data[i].mode()[0]
    print("For column: ", i, "the most frequent value is: ", most_frequent_value, "\n")
    identity_data[i].fillna(most_frequent_value, inplace = True)

For column:  id_12 the most frequent value is:  NotFound

For column:  id_15 the most frequent value is:  Found

For column:  id_16 the most frequent value is:  Found

For column:  id_28 the most frequent value is:  Found

For column:  id_29 the most frequent value is:  Found

For column:  id_30 the most frequent value is:  Windows 10

For column:  id_31 the most frequent value is:  mobile safari 11.0

For column:  id_33 the most frequent value is:  1920x1080

For column:  id_34 the most frequent value is:  match_status:2

For column:  id_35 the most frequent value is:  T

For column:  id_36 the most frequent value is:  F

For column:  id_37 the most frequent value is:  T

For column:  id_38 the most frequent value is:  F

For column:  DeviceType the most frequent value is:  desktop

For column:  DeviceInfo the most frequent value is:  Windows

In [43]:
label_encoder = LabelEncoder()

print("identity_data.shape before label-encoding: ", identity_data.shape, "\n")

for col in high_card_id_cols:
    identity_data[col] = label_encoder.fit_transform(identity_data[col])

print("identity_data.shape after label-encoding: ", identity_data.shape, "\n")
print("identity_data[high_card_id_cols] after label_encoding: ",identity_data[high_card_id_cols], "\n")

identity_data.shape before label-encoding:  (286140, 30)

identity_data.shape after label-encoding:  (286140, 30)

identity_data[high_card_id_cols] after label_encoding:                 id_30  id_31  id_33  DeviceInfo
TransactionID
2987004            7    161    268        1565
2987008           70    130     80        2693
2987010           49     46    216        2526
2987011           49     46    216        2526
2987016           26     46     68        1170
...              ...    ...    ...         ...
4170230           49     74    216        2165
4170233           49     74    216        2106
4170234           63    129     80        2693
4170236           49     22    216         141
4170239           49    166    216        1529

[286140 rows x 4 columns]

Maintenant on s'intéresse à celles qui ont une plus petite cardinalité

On utilise pd.get_dummies, qui crée des colonnes (de 0 et 1) pour chaque valeur possible que peut prendre une colonne

In [44]:
print("shape before encoding: ", identity_data.shape, "\n")
print("columns to encode: ", low_card_id_cols, "\n")


low_card_id_encoded = pd.get_dummies(identity_data[low_card_id_cols], dummy_na = False)
identity_data.drop(columns = low_card_id_cols, inplace = True)


print("shape after encoding: ", identity_data.shape, "\n\n")
print("shape of new dataframe: ", low_card_id_encoded.shape, "\n\n")
print("newly generated columns: ", low_card_id_encoded.columns, "\n")
print("low_card_id_encoded.info(): ", low_card_id_encoded.info())

shape before encoding:  (286140, 30)

columns to encode:  ['id_12', 'id_15', 'id_16', 'id_28', 'id_29', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType']

shape after encoding:  (286140, 19)


shape of new dataframe:  (286140, 25)


newly generated columns:  Index(['id_12_Found', 'id_12_NotFound', 'id_15_Found', 'id_15_New',
       'id_15_Unknown', 'id_16_Found', 'id_16_NotFound', 'id_28_Found',
       'id_28_New', 'id_29_Found', 'id_29_NotFound', 'id_34_match_status:-1',
       'id_34_match_status:0', 'id_34_match_status:1', 'id_34_match_status:2',
       'id_35_F', 'id_35_T', 'id_36_F', 'id_36_T', 'id_37_F', 'id_37_T',
       'id_38_F', 'id_38_T', 'DeviceType_desktop', 'DeviceType_mobile'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286140 entries, 2987004 to 4170239
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id_12_Found            286140 non-null  uint8
 1   id_12_NotFound         286140 non-null  uint8
 2   id_15_Found            286140 non-null  uint8
 3   id_15_New              286140 non-null  uint8
 4   id_15_Unknown          286140 non-null  uint8
 5   id_16_Found            286140 non-null  uint8
 6   id_16_NotFound         286140 non-null  uint8
 7   id_28_Found            286140 non-null  uint8
 8   id_28_New              286140 non-null  uint8
 9   id_29_Found            286140 non-null  uint8
 10  id_29_NotFound         286140 non-null  uint8
 11  id_34_match_status:-1  286140 non-null  uint8
 12  id_34_match_status:0   286140 non-null  uint8
 13  id_34_match_status:1   286140 non-null  uint8
 14  id_34_match_status:2   286140 non-null  uint8
 15  id_35_F                286140 non-null  uint8
 16  id_35_T                286140 non-null  uint8
 17  id_36_F                286140 non-null  uint8
 18  id_36_T                286140 non-null  uint8
 19  id_37_F                286140 non-null  uint8
 20  id_37_T                286140 non-null  uint8
 21  id_38_F                286140 non-null  uint8
 22  id_38_T                286140 non-null  uint8
 23  DeviceType_desktop     286140 non-null  uint8
 24  DeviceType_mobile      286140 non-null  uint8
dtypes: uint8(25)
memory usage: 9.0 MB
low_card_id_encoded.info():  None

On supprime 1 colonne de chaque nouveau set de colonnes créé pour éviter d'avoir plus de corrélation que nécessaire

In [45]:
print("newly generated columns: ", low_card_id_encoded.columns, "\n")

newly generated columns:  Index(['id_12_Found', 'id_12_NotFound', 'id_15_Found', 'id_15_New',
       'id_15_Unknown', 'id_16_Found', 'id_16_NotFound', 'id_28_Found',
       'id_28_New', 'id_29_Found', 'id_29_NotFound', 'id_34_match_status:-1',
       'id_34_match_status:0', 'id_34_match_status:1', 'id_34_match_status:2',
       'id_35_F', 'id_35_T', 'id_36_F', 'id_36_T', 'id_37_F', 'id_37_T',
       'id_38_F', 'id_38_T', 'DeviceType_desktop', 'DeviceType_mobile'],
      dtype='object')

In [46]:
low_card_id_encoded.drop(columns = ['id_12_Found', 'id_15_Found', 'id_16_Found', 'id_28_Found', 'id_29_Found', 'id_34_match_status:-1', 'id_35_F', 'id_36_F', 'id_37_F', 'id_38_F', 'DeviceType_desktop'], inplace=True)

print("after deleting one column of each category: ", low_card_id_encoded.columns, "\n")

after deleting one column of each category:  Index(['id_12_NotFound', 'id_15_New', 'id_15_Unknown', 'id_16_NotFound',
       'id_28_New', 'id_29_NotFound', 'id_34_match_status:0',
       'id_34_match_status:1', 'id_34_match_status:2', 'id_35_T', 'id_36_T',
       'id_37_T', 'id_38_T', 'DeviceType_mobile'],
      dtype='object')

### Bilan des transformations

Plus aucune valeurs manquantes dans nos 4 dataframe

In [47]:
print(transaction_data.isnull().sum().sum(), "\n")
print(low_card_trans_encoded.isnull().sum().sum())

0

0

In [48]:
print(identity_data.isnull().sum().sum(), "\n")
print(low_card_id_encoded.isnull().sum().sum())

0

0

### Concaténation des tableaux

Maintenant on les concatatène les taleaux afin d'avoir un tableau qui ne contient plus que les données transformées et propre

### *Transactions*

In [49]:
print("transaction_data.shape before concatting: ", transaction_data.shape, "\n")
print("low_card_trans_encoded.shape before concatting: ", low_card_trans_encoded.shape, "\n")

transaction_concatted = pd.concat([transaction_data, low_card_trans_encoded], axis = 1)

print("transaction_concatted.shape after concatting: ", transaction_concatted.shape, "\n")
print("transaction_concatted.columns after concatting: ", transaction_concatted.columns, "\n")

#del low_card_trans_encoded
#del transaction_data

print(transaction_concatted.info())

transaction_data.shape before concatting:  (1097231, 212)

low_card_trans_encoded.shape before concatting:  (1097231, 19)

transaction_concatted.shape after concatting:  (1097231, 231)

transaction_concatted.columns after concatting:  Index(['TransactionDT', 'TransactionAmt', 'card1', 'card2', 'card3', 'card5',
       'addr1', 'addr2', 'dist1', 'P_emaildomain',
       ...
       'card6_debit or credit', 'M1_T', 'M2_T', 'M3_T', 'M4_M1', 'M4_M2',
       'M6_T', 'M7_T', 'M8_T', 'M9_T'],
      dtype='object', length=231)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1097231 entries, 2987000 to 4170239
Columns: 231 entries, TransactionDT to M9_T
dtypes: float16(188), float32(23), int64(1), uint8(19)
memory usage: 526.3 MB
None

In [50]:
#print(transaction_concatted[['M8_F', 'M8_T']])

### *Identity*

In [51]:
print("identity_data.shape before concatting: ", identity_data.shape, "\n")
print("low_card_id_encoded.shape before concatting: ", low_card_id_encoded.shape, "\n")

identity_concatted = pd.concat([identity_data, low_card_id_encoded], axis = 1)

print("identity_concatted.shape after concatting: ", identity_concatted.shape, "\n")
print("identity_concatted.columns after concatting: ", identity_concatted.columns, "\n")

#del low_card_id_encoded
#del identity_data

print(identity_concatted.info())

identity_data.shape before concatting:  (286140, 19)

low_card_id_encoded.shape before concatting:  (286140, 14)

identity_concatted.shape after concatting:  (286140, 33)

identity_concatted.columns after concatting:  Index(['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10',
       'id_11', 'id_13', 'id_14', 'id_17', 'id_19', 'id_20', 'id_30', 'id_31',
       'id_32', 'id_33', 'DeviceInfo', 'id_12_NotFound', 'id_15_New',
       'id_15_Unknown', 'id_16_NotFound', 'id_28_New', 'id_29_NotFound',
       'id_34_match_status:0', 'id_34_match_status:1', 'id_34_match_status:2',
       'id_35_T', 'id_36_T', 'id_37_T', 'id_38_T', 'DeviceType_mobile'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286140 entries, 2987004 to 4170239
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_01                 286140 non-null  float16
 1   id_02                 286140 non-null  float32
 2   id_03                 286140 non-null  float16
 3   id_04                 286140 non-null  float16
 4   id_05                 286140 non-null  float16
 5   id_06                 286140 non-null  float16
 6   id_09                 286140 non-null  float16
 7   id_10                 286140 non-null  float16
 8   id_11                 286140 non-null  float16
 9   id_13                 286140 non-null  float16
 10  id_14                 286140 non-null  float16
 11  id_17                 286140 non-null  float16
 12  id_19                 286140 non-null  float16
 13  id_20                 286140 non-null  float16
 14  id_30                 286140 non-null  int64
 15  id_31                 286140 non-null  int64
 16  id_32                 286140 non-null  float16
 17  id_33                 286140 non-null  int64
 18  DeviceInfo            286140 non-null  int64
 19  id_12_NotFound        286140 non-null  uint8
 20  id_15_New             286140 non-null  uint8
 21  id_15_Unknown         286140 non-null  uint8
 22  id_16_NotFound        286140 non-null  uint8
 23  id_28_New             286140 non-null  uint8
 24  id_29_NotFound        286140 non-null  uint8
 25  id_34_match_status:0  286140 non-null  uint8
 26  id_34_match_status:1  286140 non-null  uint8
 27  id_34_match_status:2  286140 non-null  uint8
 28  id_35_T               286140 non-null  uint8
 29  id_36_T               286140 non-null  uint8
 30  id_37_T               286140 non-null  uint8
 31  id_38_T               286140 non-null  uint8
 32  DeviceType_mobile     286140 non-null  uint8
dtypes: float16(14), float32(1), int64(4), uint8(14)
memory usage: 23.5 MB
None

### Maintenant on recrée les dataframes de test et de train

### *Transactions*

In [52]:
print("transaction_concatted.shape before splitting up: ", transaction_concatted.shape, "\n")

# shape of train_transaction was (590540, 393), 
# shape of test_transaction  was (506691, 392)
train_transaction = transaction_concatted.iloc[0:590540]
test_transaction = transaction_concatted.iloc[590540:]

print("train_transaction.shape after splitting up: ", train_transaction.shape, "\n")
print("test_transaction.shape after splitting up: ", test_transaction.shape, "\n")

transaction_concatted.shape before splitting up:  (1097231, 231)

train_transaction.shape after splitting up:  (590540, 231)

test_transaction.shape after splitting up:  (506691, 231)

### *Identity*

In [53]:
print("identity_concatted.shape before splitting up: ", identity_concatted.shape, "\n")

# shape of train_identity was  (144233, 40)
# shape of test_identity  was  (141907, 40)
train_identity = identity_concatted.iloc[0:144233]
test_identity = identity_concatted.iloc[144233:]

print("train_identity.shape after splitting up: ", train_identity.shape, "\n")
print("test_identity.shape after splitting up: ", test_identity.shape, "\n")

identity_concatted.shape before splitting up:  (286140, 33)

train_identity.shape after splitting up:  (144233, 33)

test_identity.shape after splitting up:  (141907, 33)

## On concatène les train ensemble et les test ensembles

### *Train*

In [54]:
print("train_transaction.shape before concatting: ", train_transaction.shape, "\n")
print("train_identity.shape before concatting: ", train_identity.shape, "\n")


train_data  = pd.concat([train_transaction, train_identity], axis = 1)


print("train_data.shape: ", train_data.shape)

train_transaction.shape before concatting:  (590540, 231)

train_identity.shape before concatting:  (144233, 33)

train_data.shape:  (590540, 264)

### *Test*

In [55]:
print("test_transaction.shape before concatting: ", test_transaction.shape, "\n")
print("test_identity.shape before concatting: ", test_identity.shape, "\n")

test_data  = pd.concat([test_transaction, test_identity], axis = 1)


print("test_data.shape: ", test_data.shape)

test_transaction.shape before concatting:  (506691, 231)

test_identity.shape before concatting:  (141907, 33)

test_data.shape:  (506691, 264)

## On enlève les nouveaux NaN créé en les remplacant tous par la median

In [56]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 2987000 to 3577539
Columns: 264 entries, TransactionDT to DeviceType_mobile
dtypes: float16(202), float32(24), float64(18), int64(1), uint8(19)
memory usage: 382.4 MB

In [57]:
n = (train_data.dtypes != 'object')
num_train_cols = list(n[n].index) 

n = (test_data.dtypes != 'object')
num_test_cols = list(n[n].index)

In [58]:
my_imputer = SimpleImputer(strategy = 'median') 
my_imputer.fit(train_data[num_train_cols])

train_data[num_train_cols] = my_imputer.transform(train_data[num_train_cols])

my_imputer = SimpleImputer(strategy = 'median') 
my_imputer.fit(test_data[num_test_cols])

test_data[num_test_cols] = my_imputer.transform(test_data[num_test_cols])

In [59]:
print(train_data.shape)
train_data.info()

(590540, 264)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 2987000 to 3577539
Columns: 264 entries, TransactionDT to DeviceType_mobile
dtypes: float64(264)
memory usage: 1.2 GB

In [60]:
print(test_data.shape)
test_data.info()

(506691, 264)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 506691 entries, 3663549 to 4170239
Columns: 264 entries, TransactionDT to DeviceType_mobile
dtypes: float64(264)
memory usage: 1.0 GB

In [61]:
print(train_data[num_train_cols].isnull().sum().sum())

0

In [62]:
print(test_data[num_test_cols].isnull().sum().sum())

0

### On cherche à réduire le nombres de variables : PCA

On enlève l'index pour ne pas le modifier

In [63]:
columns = test_data.columns
print(columns)
df = test_data.reset_index(inplace=False)
print(df.head(5))
transactionID = df['TransactionID']
print(transactionID)
print(test_data.head(5))

Index(['TransactionDT', 'TransactionAmt', 'card1', 'card2', 'card3', 'card5',
       'addr1', 'addr2', 'dist1', 'P_emaildomain',
       ...
       'id_28_New', 'id_29_NotFound', 'id_34_match_status:0',
       'id_34_match_status:1', 'id_34_match_status:2', 'id_35_T', 'id_36_T',
       'id_37_T', 'id_38_T', 'DeviceType_mobile'],
      dtype='object', length=264)
   TransactionID  TransactionDT  ...  id_38_T  DeviceType_mobile
0        3663549     18403224.0  ...      0.0                0.0
1        3663550     18403264.0  ...      0.0                0.0
2        3663551     18403310.0  ...      0.0                0.0
3        3663552     18403310.0  ...      0.0                0.0
4        3663553     18403316.0  ...      0.0                0.0

[5 rows x 265 columns]
0         3663549
1         3663550
2         3663551
3         3663552
4         3663553
           ...
506686    4170235
506687    4170236
506688    4170237
506689    4170238
506690    4170239
Name: TransactionID, Length: 506691, dtype: int64
               TransactionDT  TransactionAmt  ...  id_38_T  DeviceType_mobile
TransactionID                                 ...
3663549           18403224.0       31.953125  ...      0.0                0.0
3663550           18403264.0       49.000000  ...      0.0                0.0
3663551           18403310.0      171.000000  ...      0.0                0.0
3663552           18403310.0      285.000000  ...      0.0                0.0
3663553           18403316.0       67.937500  ...      0.0                0.0

[5 rows x 264 columns]

### On scale les data pour éviter que certaines est une plus gande importance que d'autres

In [64]:
from sklearn.preprocessing import StandardScaler, RobustScaler

on scale les données

In [65]:
train_data = pd.DataFrame(StandardScaler().fit_transform(train_data))
test_data = pd.DataFrame(StandardScaler().fit_transform(test_data))

On reforme les DataFrame car la transformations change leur type; et on remet l'index

In [66]:
print(train_data.head(5))
print(test_data.head(5))
print(train_data.shape)
print(test_data.shape)
train_data.columns = columns
test_data.columns = columns

train_data  = pd.concat([train_data, transactionID], axis = 1)
test_data  = pd.concat([test_data, transactionID], axis = 1)

train_data.set_index(['TransactionID'], inplace=True)
test_data.set_index(['TransactionID'], inplace=True)

print(train_data.head(5))
print(test_data.head(5))
print(train_data.shape)
print(test_data.shape)

        0         1         2    ...       261       262       263
0 -1.577987 -0.278174  0.822123  ...  0.233501 -0.357926 -0.322536
1 -1.577986 -0.443337 -1.457409  ...  0.233501 -0.357926 -0.322536
2 -1.577972 -0.317897 -1.068101  ...  0.233501 -0.357926 -0.322536
3 -1.577965 -0.355529  1.679090  ...  0.233501 -0.357926 -0.322536
4 -1.577964 -0.355529 -1.102380  ...  0.233501  2.793877  3.100425

[5 rows x 264 columns]
        0         1         2    ...       261       262       263
0 -1.792644 -0.418154  0.092274  ...  0.260849 -0.300321 -0.375203
1 -1.792635 -0.348795 -1.163865  ...  0.260849 -0.300321 -0.375203
2 -1.792626  0.147590 -1.122103  ...  0.260849 -0.300321 -0.375203
3 -1.792626  0.611425  0.211828  ...  0.260849 -0.300321 -0.375203
4 -1.792624 -0.271743  1.649755  ...  0.260849 -0.300321 -0.375203

[5 rows x 264 columns]
(590540, 264)
(506691, 264)
               TransactionDT  TransactionAmt  ...   id_38_T  DeviceType_mobile
TransactionID                                 ...
3663549.0          -1.577987       -0.278174  ... -0.357926          -0.322536
3663550.0          -1.577986       -0.443337  ... -0.357926          -0.322536
3663551.0          -1.577972       -0.317897  ... -0.357926          -0.322536
3663552.0          -1.577965       -0.355529  ... -0.357926          -0.322536
3663553.0          -1.577964       -0.355529  ...  2.793877           3.100425

[5 rows x 264 columns]
               TransactionDT  TransactionAmt  ...   id_38_T  DeviceType_mobile
TransactionID                                 ...
3663549            -1.792644       -0.418154  ... -0.300321          -0.375203
3663550            -1.792635       -0.348795  ... -0.300321          -0.375203
3663551            -1.792626        0.147590  ... -0.300321          -0.375203
3663552            -1.792626        0.611425  ... -0.300321          -0.375203
3663553            -1.792624       -0.271743  ... -0.300321          -0.375203

[5 rows x 264 columns]
(590540, 264)
(506691, 264)

### PCA

In [67]:
from sklearn.decomposition import PCA
pca = PCA()
x_pca = pd.DataFrame(pca.fit_transform(train_data ))

In [68]:
my_var = pca.explained_variance_ratio_

In [69]:
sum(my_var[0:135])

0.9744200872537422

On atteind 97% des données avec les 135premiere variables (sur 264 variables) , on peut donc supprimer les autres

In [70]:
#99% des données
short_train_165 = train_data.iloc[:,0:165]
short_test_165 = test_data.iloc[:,0:165]

In [71]:
#97% des données
short_train_135 = train_data.iloc[:,0:135]
short_test_135 = test_data.iloc[:,0:135]

In [72]:
#95% des données
short_train_115 = train_data.iloc[:,0:115]
short_test_115 = test_data.iloc[:,0:115]

In [73]:
#90% des données
short_train_90 = train_data.iloc[:,0:90]
short_test_90 = test_data.iloc[:,0:90]

## On sauvegarde les nouvelles données, scaled, sans Nan, et dont on a supprimé certaines colonnes

In [ ]:
short_train_165.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_train99.csv')
short_test_165.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_test99.csv')

In [ ]:
short_train_135.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_train97.csv')
short_test_135.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_test97.csv')

In [ ]:
short_train_115.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_train95.csv')
short_test_115.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_test95.csv')

In [ ]:
short_train_90.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_train90.csv')
short_test_90.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/short_test90.csv')

In [ ]:
y_train.to_csv('/content/drive/MyDrive/Colab Notebooks/MOST_AA/données/Y_train.csv')

Reste à train un modèle